<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shawn Meyer | learn. evolve. code.</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/simplegrid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment-highlights.css" media="screen" />
    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
  </head>
