<nav class="global-nav">
  <ul class="horizontal-nav">
    <li><a href="#projects"><svg x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><use xlink:href="/images/code.svg#image"></use></svg></a></li>
    <li><a href="http://www.shawnmeyer.com"><svg x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve" preserveAspectRatio="xMidYMid"><use xlink:href="/images/blog.svg#image"></use></svg></a></li>
    <li><a href="#contact"><svg x="0px" y="0px" viewBox="0 0 36 36" xml:space="preserve"><use xlink:href="/images/contact.svg#image"></use></svg></a></li>
  </ul>
</nav>
