---
layout: page
---

{% for post in paginator.posts %}
  {% include post/_article.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination-previous button">&laquo; Older</a>
    {% else %}
      <span class="pagination-previous button-disabled">&laquo; Older</span>
    {% endif %}
    
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pagination-previous button">Newer &raquo;</a>
    {% else %}
      <span class="pagination-next button-disabled">Newer &raquo;</span>
    {% endif %}
  </div>
{% endif %}