html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-header {
    background-size: cover;
    display: inline-block;
    color: #fafafa;
    height: 50vh;
    padding: 20ex 6em;
    position: relative;
    width: 100vw;

    background-image: linear-gradient(to right, #267871, #136a8a, #185a9d);
    background-size: cover;
}

.page-header-name {
    font-size: 3.25rem;
    margin: 0px;
    text-align: center;
}

.page-header-tagline {
    font-size: 1.35em;
    font-weight: normal;
    margin: .5ex 0px 0px 0px;
    text-align: center;
}

.global-nav {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.global-nav .horizontal-nav {
  display: inline-block;
  height: 76px;
  opacity: .6;
  transition: opacity .25s ease-in-out;
}

.global-nav .horizontal-nav:hover {
  opacity: 1;
}

.global-nav .horizontal-nav li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

ul.horizontal-nav {
    background-color: #242424;
    list-style-type: none;
    margin: 0;
    height: 50px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.horizontal-nav li {
    display: inline-block;
    float: unset;
}

.horizontal-nav li:hover {
    background-color: #3c3c3c;
}

.horizontal-nav li a {
    color: #fafafa;
    display: inline-block;
    height: 100%;
    fill: #fafafa;
    padding: 14px 16px;
    text-decoration: none;
}

.global-nav .horizontal-nav li a svg {
    height: 48px;
    width: 48px;
}

.main-content section {
    margin: 0 auto;
    padding: 2rem 6rem;
    max-width: 64rem;
}
