{% include _head.html %}
  <body>
    {% include _pageheader.html %}
    {{ content }}
    {% include _footer.html %}

    <script src="/scripts/libs/svgforeverybody.min.js"></script>
    <script src="/scripts/app/polyfill.js"></script>
    <script src="/scripts/libs/nanoajax.min.js"></script>
    <script src="/scripts/app/languageIconService.js"></script>
    <script src="/scripts/app/repositoryService.js"></script>
    <script src="/scripts/app/app.js"></script>
    {% include _analytics.html %}
  </body>
</html>
